In [13]:
import pandas as pd
data = pd.DataFrame({'Name' : [3, 4,6], 'Age' : [18, 92,98], 'Weight' : [68, 59,49]})

col_names = ['Name', 'Age', 'Weight']
features = data[col_names]

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

ct = ColumnTransformer([
        ('somename', StandardScaler(), ['Age', 'Weight'])
    ], remainder='passthrough')

ct.fit_transform(features)

array([[-1.41100443,  1.20270298,  3.        ],
       [ 0.62304092,  0.04295368,  4.        ],
       [ 0.78796352, -1.24565666,  6.        ]])

In [10]:
data

   Name  Age  Weight
0     3   18      68
1     4   92      59
2     6   98      49

In [11]:
data.values

array([[ 3, 18, 68],
       [ 4, 92, 59],
       [ 6, 98, 49]])